seshat-node/native/target
seshat-node/native/index.node
seshat-node/native/artifacts.json
seshat-node/**/*~
seshat-node/**/node_modules
seshat-node/**/.DS_Store
seshat-node/coverage
.gdb_history
target
/Cargo.lock
